*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:  rgb(135, 58, 165);
}

p{
    color: rgb(231, 227, 238);
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(63, 4, 87);
}
.films{
    display: flex;
    flex-wrap: wrap;
}
.film{
    position: relative;
    margin: 3px;
    background-color:rgba(255, 255, 255, 0.103);
    border: 1px solid rgba(0, 0, 0, 0.082);
    box-shadow: 1px 7px 7px rgba(0, 0, 0, 0.116);
    width: 350px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
img{
    width: 300px;
    height: 400px;
    
}
.film-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
   height: 60px;
    width: 300px;
}

.popup{
    display: none;
}
.film:hover >.popup{
    z-index: 2;
    display: unset;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.13);
    border: 1px solid rgba(0, 0, 0, 0.082);
    box-shadow: 1px 7px 7px rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(7px);
    border-radius: 3px;
    transform: translateX(180px);
    
}
.popup-title ,
.popup-date{
    padding: 6px;
    color: rgb(31, 29, 29);
}
#search-result{
    display: flex;
    flex-wrap: wrap;
}